@charset "utf-8";
/* CSS Document */


*{
	margin:0px;
	padding:0px;
}
#center {
	width: 980px;
	height: 400px;
	background-image: url(../images/login_bg.gif);
	background-repeat: no-repeat;
	margin: auto;
}
#register {
	float: left;
	width: 480px;
	height: 400px;
	margin: auto;
	border: 0px solid red;
	margin-top: 40px;
	border-right: 1px solid #CCC;
}
#box ul {
	list-style-type: none;
}
#box ul li {
	font-size: 12px;
	margin-bottom: 10px;
}

#button1{
	width:80px;
	height:34px;
	background-image:url(../images/login.gif);
	border-radius:5px;
	margin-left:120px;
}
#text ul {
	list-style-type: none;
	margin-left:30px;
	margin-top:20px;
}
#text ul li {
	font-size: 12px;
	margin-bottom: 10px;
}
#login {
	float: left;
	width: 480px;
	height: 400px;
	border: 0px solid red;
	margin-top: 40px;
}

#zhu dl{
	width:450px;
	height:40px;
	float:left;
	margin-left:20px;
}
#zhu dl dt{
	float:left;
	text-align:center;
	margin-left:10px;
	}
#zhu dl dd{
	float:left;
	text-align:center;
	font-size:12px;
	margin-left:10px;
	height:50px;
	line-height:50px;
}
span{
	height:20px;
	line-height:20px;
	color:#1AA3FF;
}

#button2{
	width:160px;
	height:37px;
	background-image:url(../images/registernow.gif);
	margin-top:20px;
	margin-left:120px;
	border-radius:5px;
}

#box1{
	width:300px;
	height:80px;
	border:1px solid #F2BB6F;
	background-color:#FDF7E7;
	margin-left:45px;
	margin-top:10px;
}
#box2{
	width:250px;
	height:25px;
	border:1px solid #F5DCBC;
	background-color:#FFF;
	font-size:12px;
	margin-top:10px;
	margin-left:25px;
}

#box3{
	width:250px;
	height:25px;
	border:1px solid #F5DCBC;
	background-color:#FFF;
	font-size:12px;
	background-position:0px 10px;
	margin-top:10px;
	margin-left:25px;
}
.tu{
	width:40px;
	height:20px;
}
