@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}
table{
	width:980px;
	height:500px;
	margin:auto;
	text-align:center;
	background-image:url(../images/list_bg.gif);
	background-repeat:no-repeat;
	border:0px solid red;
}
tr{
	width:980px;
	height:100px;
}

td{
	border-bottom:1px dashed #CCCCCC;
}