@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

#center {
	width: 980px;
	height:400px;
	margin: auto;
}
#box1 {
	width: 400px;
	height:450px;
	float: left;
}
#box2 {
	width: 570px;
	height:450px;
	float: left;
	margin-left: 10px;
}
#box2 p{
	margin-top:10px;
}
td {
	border-bottom: 1px dashed #CCCCCC;
}
#picture {
	float: left;
}
p {
	border-bottom: 1px dashed #CCCCCC;
}
.text {
	border: 1px solid #ECE5BA;
	background-color: #FFFFED;
}
.kuang {
	border: 1px solid #CCC;
}
